.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
/* kako se manjuje ekran on pravi prostor i redja ispod */
}
.item{
    width: 75px;
    height: 75px;
    margin: 15px;
    background-color: brown;
}
@media only screen and(max-width:600px) {
    .conteiner{flex-direction: column }
   .item{ background-color: blue }
   
}